<%= javascript_include_tag 'experience'%>

<div class="section">
  <div class="header">
    <div class="layout">
      <div class="inner_layout">
        <div class="left">
          <h2>EXPERIENCIA</h2>
          <h5>Algo de mí diferente a tí</h5>
        </div>
        <div class="right">
          <h3>Cada persona es una marca y como tal, tiene un concepto diferenciador. Nuestra propia "brand idea"</h3>
        </div>
      </div> <!-- inner_layout -->
    </div> <!-- layout -->
  </div>
  
  <div class="layout">
    <div class="inner_layout">
      <div class="content">
        
        <div class="section">
          <div class="about_me radius shadow">
            <div class="philosophy">
              <h5>Mi filosofía</h5>
              <div class="hgroup">
                <p>La vida es un viaje que hay que disfrutar.</p>
                <p>Si no me gusta el camino, me doy la vuelta y busco otro.</p>
                <p>Me gusta hablar con las personas que me voy encontrando.</p>
              </div>
              <div class="hgroup">
                <p>Mi pregunta estrella es: ¿Por qué?</p>
                <p>Comparto todo lo que aprendo.</p>
                <p>Me gusta contar historias</p>
                <p>Conectar a través de ellas.</p>
              </div>
              <p class="last">Inspirar.</p>
            </div> <!-- philosophy -->
            
            <div class="info">
              <p class="first">Desde pequeña me ha gustado la <b>publicidad</b>, odié el día que apareció en nuestras vidas el mando a distancia. Desde ese momento mi padre no perdonaba una, en cuanto llegaba un descanso cambiaba de canal y conseguir ver un <b>anuncio</b> era un milagro. Me gustaba hacer el ejercicio de pensar cómo los habrían hecho y soñaba con poder estar allí y ver cómo se cocinaban.</p>
              
              <p>Quizás a consecuencia de mi timidez soy persona muy <b>observadora</b>, me gusta fijarme en las personas, en su manera de actuar, las cosas que nos rodean en general. Con los años he vencido la timidez y complemento mi curiosidad con millones de preguntas. Cuando viajo soy el terror de los guías, no paro de hacer preguntas y en el trabajo soy igual, creo que es la mejor manera de aprender y conocer.</p>
              
              <p>Mi medio natural, en el que más cómoda me encuentro y en el que además de trabajar puedo decir que disfruto es en el <b>digital</b>. Me apasiona descubrir todas las novedades que este mundo nos ofrece y pone a nuestro servicio. Combinar publicidad con el medio digital es la mejor manera de convertir trabajo en <b>PASIÓN</b>.
              </p>
            </div> <!-- info -->
          </div> <!-- about_me -->
        </div>
        
        <div class="section">
          <div class="experience radius shadow">
            <span class="label">360º</span>
            <%= image_tag "experience/bg-vane-360.png", :alt => 'Vanessa Viaji en 360' %>
            <div class="hgroup">
              <ul class="dates">
                <li class="first">
                  <p class="date">1997/2003</p>
                  <div class="tooltip">
                    <label>Universidad Complutense de Madrid</label>
                    <p>Licenciatura en Derecho</p>
                  </div>
                </li>
                <li class="second">
                  <p class="date">2003/2006</p>
                  <div class="tooltip">
                    <label>Asisa. Clínica Mediterráneo</label>
                    <p>Responsable Marketing y Publicidad</p>
                  </div>
                </li>
                <li class="third">
                  <p class="date">2006</p>
                  <div class="tooltip">
                    <label>Imar Digital</label>
                    <p>Ejecutiva de Cuentas</p>
                  </div>
                </li>
                <li class="fourth">
                  <p class="date">2006/2007</p>
                  <div class="tooltip">
                    <label>Guía del Ocio</label>
                    <p>Ejecutivas de Cuentas Off y Online</p>
                  </div>                  
                </li>
                <li class="fifth">
                  <p class="date">2007/2008</p>
                  <div class="tooltip">
                    <label>Editorial G+J</label>
                    <p>Ejecutiva de Cuentas Online</p>
                  </div>                  
                </li>
                <li class="sixth">
                  <p class="date">2008/2010</p>
                  <div class="tooltip">
                    <label>Editorial G+J</label>
                    <p>Jefa de Publicidad Online</p>
                  </div>                  
                </li>
                <li class="seventh">
                  <p class="date">2011</p>
                  <div class="tooltip">
                    <label>Miami Ad School</label>
                    <p>BootCamp Account Planner</p>
                  </div>                  
                </li>                                                                                                
              </ul>
            </div>
            <a href="http://www.linkedin.com/in/vanessaviaji" class="linkedin">visita mi <em>Linked</em></a>
          </div>
        </div>
        
      </div> <!-- content -->
      
    </div> <!-- inner_layout -->
  </div> <!-- layout -->
    
</div>
